body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#createExperimentButton {
  margin-top: 40px;
  margin-bottom: 0px;
}

#form-successful{
  text-align: left;
  font-weight: bold;
}

#sign-up-button{
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .col-lg-6 {
    padding: 30px;
  }

  .title-experiment-overview {
    margin-bottom: 0px;
  }

  .page-titles {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: blue;
  }

  .navigation {
    background-color: grey;
  }

  .bg-footer {
    position: fixed-bottom;
    background-color: grey;
  }

  .nav-link {
    color: black;
  }

  .experiments {
    text-align: left;
    font-size: 15px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 100px;
  }

  .title {
    text-align: left;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 100px;
    margin-top: -40px;
  }

  .buttons {
    width: 200px;
  }

  .expBtn {
    background-color: #E6F4F8;
    outline: none;
    outline-width: 0px;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }

  /* Dont know what it is but dont delete it */
  .expBtn:focus {
    /* background: #325d88; */
    background: #8EB8F8;
    outline: none;
  }

  /* When you hover over the button */
  .expBtn:hover {
    /* background: #B1B3B6; */
    background: #B3CDF5;
  }

  /* text color when clicked */
  .expBtn:active:focus {
    color: #000000;
  }



}